* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #64add1;
  color: white;
}

/* NAVBAR */
nav {
  position: fixed;
  width: 100%;
  background: #667ed3;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  z-index: 100;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #38bdf8;
  transform: scale(1.1);
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero img {
  width: 150px;
  border-radius: 50%;
  border: 4px solid #38bdf8;
  animation: float 3s infinite ease-in-out;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.hero span {
  color: #38bdf8;
}

.btn {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

/* SECTIONS */
section {
  padding: 100px 40px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #020617;
  padding: 30px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  background: #38bdf8;
  color: black;
}

/* SOCIAL ICONS */
.socials i {
  font-size: 50px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.socials i:hover {
  color: #38bdf8;
  transform: scale(1.2);
}
